@import "typography/reset.scss";
@import "config/variables.scss";
@import "components/buttons.scss";
@import "typography/fonts.scss";
@import "typography/links.scss";
@import "typography/forms.scss";

html,
body,
body > div:first-child,
div#__next {
  height: 100%;
}

div#__next {
  flex: 1 1 auto;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font-default, Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
