// Colors
$white: #fff;
$black: #000;
$tetsu-green: #005344;
$dry-seedlings: #cde966;
$bleached-silk: #f2f2f2;
$gainsboro: #dcdcdc;
$oil-on-fire: #ff590b;
$bright-lavender: #b99fea;

// Fonts
$font-default: "PP Mori";
$font-icon: "icon-font";

// Animation
$transition: 0.3s ease;

// Sizes
$size-tablet: 768px;
$size-desktop: 1025px;
