@font-face {
  font-family: "PP Mori";
  src:
    url("~/assets/fonts/PPMori-SemiBold.woff2") format("woff2"),
    url("~/assets/fonts/PPMori-SemiBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "PP Mori";
  src:
    url("~/assets/fonts/PPMori-Regular.woff2") format("woff2"),
    url("~/assets/fonts/PPMori-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "PP Mori";
  src:
    url("~/assets/fonts/PPMori-SemiBoldItalic.woff2") format("woff2"),
    url("~/assets/fonts/PPMori-SemiBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: "PP Mori";
  src:
    url("~/assets/fonts/PPMori-RegularItalic.woff2") format("woff2"),
    url("~/assets/fonts/PPMori-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}
